// Fonts
$dutch-mediaeval-pro: "dutch-mediaeval-pro", "Rockwell", serif;
$openSans: "Open Sans", "Verdana", sans-serif; 

// Colors
$orange: #C4450A;
$brown: #AD6B00;
$burlyBrown: #998000;
$red: #C20C0C;
$green: #748F00;
$black: #000000;
$white: #ffffff;

//tokens
$baratheon: url(../images/sigils/baratheon.png);
$greyjoy: url(../images/sigils/Greyjoy.png);
$lannister: url(../images/sigils/Lannister.png);
$stark: url(../images/sigils/Stark.png);
$targaryen: url(../images/sigils/Targaryen.png);
$crown: url(../images/Icons/1x/crown.png);

//characterTokens to use on the game board
$arya_stark: url(../images/Tokens/arya_stark_token.png);
$eddard_stark: url(../images/Tokens/eddard_stark_token.png);
$sansa_stark: url(../images/Tokens/sansa_stark_token.png);
$jon_snow: url(../images/Tokens/jon_snow_token.png);
$daenny_targ: url(../images/Tokens/daenerys_targaryen_token.png);
$jaime_lannister: url(../images/Tokens/jaime_lannister_token.png);
$tyrion_lannister: url(../images/Tokens/tyrion_lannister_token.png);
$joffrey_bara: url(../images/Tokens/joffrey_baratheon_token.png);
$robert_bara: url(../images/Tokens/robert_baratheon_token.png);
$theon_grey: url(../images/Tokens/theon_greyjoy_token.png);