/* RESET */
* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// font medieval sharp
@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');

@import "blocktags";
@import "variables";
@import "main";
@import "header";
@import "mixins";
/***************************    Media Queris  ***************************/
@include media();